:root {
  /*Paleta de colores*/

  --colorprimero: #8aaf6e;
  --colorsegundo: #3d7f05;
  --colortercero: #f4a870;
  --colorcuarto: #ec7304;
  --colorquinto: #8abdf2;
}

.glider-contain {
  width: 87%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.glider {
  margin-top: -5rem;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}

.glider img {
  width: 80%;
  padding-left: 2rem;
}

.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 150px;
}

.glider-slide img {
  max-width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev,
.glider-next {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 2rem;
  text-decoration: none;
  left: -10px;
  border: 0;
  top: 20%;
  cursor: pointer;
  color: var(--colorsegundo);
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67),
    color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  animation-name: flechas;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes flechas {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: var(--colorcuarto);
}

.glider-next {
  right: -23px;
  left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
  opacity: 0.25;
  color: var(--colortercero);
  cursor: default;
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dot {
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }

  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}
@media (max-width: 1023px) {
  .glider {
    margin-top: -2rem;
  }
  .glider img {
    width: 70%;
    padding-left: 1rem;
  }
  .glider-prev,
  .glider-next {
    top: 30%;
  }
}
@media (max-width: 750px) {
  .glider {
    margin-top: -2rem;
  }
}

@media (max-width: 600px) {
  .glider {
    margin-top: 0rem;
  }
  .glider img {
    width: 60%;
    margin-top: 2rem;
    padding-left: 0;
  }
  .glider-prev,
  .glider-next {
    top: 45%;
  }
  .glider-next {
    right: -10px;
  }
  @keyframes flechas {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1);
    }
  }
}

@media (max-width: 450px) {
  .glider-contain {
    max-height: 40%;
    margin-top: 0rem;
  }

  .glider-prev {
    top: 50%;
    left: -15px;
  }

  .glider-next {
    top: 50%;
    right: -15px;
  }
  .glider img {
    width: 90%;
    padding-right: 18px;
  }
  @keyframes flechas {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1);
    }
  }
}
